.header {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: white;
    background-color:rgb(129, 186, 224);
    justify-content: center;
}

@keyframes flip {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }
  
    40% {
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }
  
    50% {
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }
  
    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
      animation-timing-function: ease-in;
    }
  
    to {
      transform: perspective(400px);
      animation-timing-function: ease-in;
    }
  }

#theme {
    justify-content: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(247, 207, 77);
    backface-visibility: visible;
    animation-name: flip;
    animation-duration: 2s;
    /* font-weight: bolder */
}

body {
    background-image:  url("../images/background.png");
    height: 100%;
}

#jmb {
    margin: 10px;
    /* background-image:  url("../images/jumbo_back.jpg"); */
    background: rgba(150, 238, 241, 0.5);
   font-family: 'Alegreya SC', serif;
   display: flex;
   flex-direction: column;
   align-items: center;
}


@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }



  
 